body {
  font-family: "Josefin Sans", sans-serif;
}

button {
  font-family: "Josefin Sans", sans-serif;
}
/* ============================================= NAVBAR */
.navbar-upper {
  display: flex;
  background-color: rgb(149, 69, 193);
  color: white;
  align-items: baseline;
}

.page-title {
  font-size: 4rem;
  padding-top: 1.25rem;
  padding-bottom: 0.45rem;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 3.5rem;
}

.active-navbar-link,
.navbar-link {
  text-decoration: none;
  color: white;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.active-navbar-link {
  font-weight: bolder;
  font-size: 2.4rem;
}

.navbar-link {
  font-size: 1.7rem;
}

.navbar-link:hover,
.btn-sign-in:hover,
.btn-sign-out:hover {
  color: rgba(210, 210, 210, 0.983);
  font-size: 2.2rem;
}

.btn-sign-in,
.btn-sign-out {
  background-color: inherit;
  font-size: 1.7rem;
  color: white;
  padding-left: 3rem;
  padding-right: 0.75rem;
  font-family: "Josefin Sans", sans-serif;
  border: none;
}

/* ============================================= MEAL-SEARCH NAVBAR */
.ctn-meal-search-options {
  display: flex;
  justify-content: center;
  margin-top: 2.75rem;
  text-align: center;
}

.ctn-meal-search-dropdown {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.185rem;
  width: fit-content;
  padding: 0.2rem;
}

.meal-search-form-search-bar {
  height: 2rem;
  font-size: 1.1rem;
  padding-left: 1.4rem;
  width: 5rem;
  transition: width 0.4s ease-in-out;
}

.meal-search-form-search-bar:focus {
  width: 15rem;
}

.btn-random {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.35rem;
  color: white;
  background-color: rgb(149, 69, 193);
  border: none;
  border-radius: 2%;
  padding-top: 0.5rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
  margin-left: 0.25rem;
  transition-duration: 0.2ms;
}

.btn-random:hover {
  border: 0.1rem rgb(149, 69, 193) solid;
  background-color: white;
  color: rgb(149, 69, 193);
}

/* ============================================= RECIPE COMPONENT */
.recipe-image {
  height: 25rem;
}

.ctn-recipe-instructions {
  width: 60%;
  line-height: 1.2rem;
}

/*============================================== MEAL PREVIEWS + CATEGORIES  */
.ctn-meal-previews,
.ctn-categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 5rem;
  margin-top: 5rem;
}

.ctn-single-meal-preview,
.ctn-single-category {
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.single-meal-preview-title {
  width: 13rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
  background-color: rgb(149, 69, 193);
  margin-top: 0px;
}

.single-meal-preview-image {
  width: 15rem;
}
