body {
  font-family: "Josefin Sans", sans-serif;
}

Link {
  text-decoration: none;
  color: black;
}

/* ============================================= RECIPE COMPONENT */
.recipe-image {
  height: 25rem;
}

.ctn-recipe-instructions {
  width: 60%;
  line-height: 1.2rem;
}
